body{
    background-color: #f6f6f6d6;
    margin: 0;
}
#title {
    padding: 10px 20px;
}
h1 {
   font-family: Nerko One ,cursive ;
    color: #e39700;
    text-align: center;
    font-size: 55px;
}

#title .type{
    font-size: 20px;
    color:hsl(0, 2%, 72%) ;
    margin: 8px 0;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}
#title .title{
    font-size: 28px;
    color: hsl(240, 16%, 35%);
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}
#title .title span{
    display: none;
}
#card {
    padding: 10px 20px;
}
#card .image img{
    width: 100%;
}
#card .list{
    background-color: white;
}
#card .list .row{
    margin: 5px;
    padding: 20px 0;
}
#card .list .col-1{
    margin: 30px 0;
    font-size: 20px;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}
#card .list .col{
    margin-top: 15px;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}
#logo{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
#logo #icon{
    background-color: white;
    border: 3px solid white;
    padding: 12px;
    border-radius: 50%;
}
#logo #written{
    display: none;
}
.image-central img{
    width: 100%;
    padding: 10px 20px;
    display: none;
}
#main-bottom{
    padding-top: 25px;
}
#main-bottom .title-bottom {
    padding: 10px 20px;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    font-size: 35px;
}
#main-bottom .image-bottom img{
    width: 70%;
    margin: 35px 85px;
}
#main-bottom .text .text-bottom{
    padding: 10px 20px;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    font-size:18px ;
}
footer{
    width: 100%;
    background-color: #740be4b3;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}
footer .row-top{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 20px;
}
footer .row-bottom{
    width: 100%;
}
footer .row-top .col{
 margin-top: 10px;
}
footer .row-bottom{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
footer .row-bottom .col{
    flex-wrap:wrap ;
    padding: 10px 100px;
}
footer .row-bottom .col a{
    margin: 0 20px;
    color: white;
    font-size: 17px;
}

   /* Media Query Tablet */
@media screen and ( min-width:768px ){
    h1 {
        font-family: Nerko One ,cursive ;
         color: #e39700;
         text-align: left;
         font-size: 45px;
         padding-left: 10px;
     }
     #title {
        padding: 20px 35px;
    }
     #title .type{
        font-size: 15px;
        color:hsl(0, 2%, 72%) ;
        margin: 8px 0;
        font-family: Montserrat, 'Helvetica Neue', sans-serif;
    }
    #title .title span{
        display: inline-block;
    }
    #card {
        padding: 20px 35px;
    }
    #card .list .row{
        margin: 0 25px 25px 25px;
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
    }
    #card .list .col-1{
        min-width: 100%;
        margin: 30px 0;
        font-size: 20px;
        font-family: Montserrat, 'Helvetica Neue', sans-serif;
    }
    #card .list .col{
        padding: 20px 70px 20px 0;
        margin:30px 0px ;
        font-family: Montserrat, 'Helvetica Neue', sans-serif;
        width: 20%;
    }
    #logo{
        display: flex;
        justify-content: space-between;
        padding: 10px 35px;
    }
    #logo #icon{
        background-color: white;
        border: 3px solid white;
        padding: 10px 50px;
        border-radius: 40%;
    }
    .image-central img{
        width: 93%;
        padding: 20px 35px;
        display: inline-block;
    }  
    #main-bottom .title-bottom {
        padding: 20px 35px;
        font-family: Montserrat, 'Helvetica Neue', sans-serif;
        font-size: 35px;
    }
    #main-bottom .image-bottom img{
        margin: 35px 85px;
    }
    #main-bottom .text .text-bottom{
        padding: 20px 35px;
        font-family: Montserrat, 'Helvetica Neue', sans-serif;
        font-size:18px ;
    }
    footer .row-top{
        width: 100%;
        text-align: center;
        padding-top: 20px;
        color: white;
        font-size: 18px;
    }
    footer .row-bottom{
        padding: 0;
    }
    footer .row-bottom .col{
         padding: 10px 0;
    }
    footer .row-bottom .col a{
        margin: 0 18px;
        color: white;
        font-size: 17px;
    }
}

   /* Media Query Desktop */
@media  screen and (min-width: 992px) {
    #title h1{
        margin-top:5px ;
        margin-bottom: 35px;
    }
    #title{
        padding: 20px 120px;
    }
    #card{
        display: flex;
        padding: 30px 120px;
    }
    #card .image{
        width: 70%;
    }
   
    #card .list {
        width: 30%;
        display: inline-block;
    }
    #card .list .row{
        margin: 0;
        padding: 0;
    }
    
    #card .list .col-1{
        font-size: 20px;
        font-family: Montserrat, 'Helvetica Neue', sans-serif;
        width: 100%;
        margin: 0 20px;
        padding: 20px 5px;
    }
    #card .list .col{
        font-family: Montserrat, 'Helvetica Neue', sans-serif;
        width: 100%;
        margin: 0 20px;
        padding: 8px 5px;
    }
    #logo{
        display: flex;
        justify-content: space-between;
        padding: 30px 120px;
    }
    #logo #written{
        display: inline-block;
    }
    #logo #icon{
        background-color: white;
        border: 3px solid white;
        padding: 3px 20px;
        border-radius: 20%;
    }
    #logo #icon > i{
        margin: 2px 4px;
    }
    .image-central img{
        width: 76%;
        padding: 30px 120px;
        display: inline-block;
    }  
    #main-bottom .title-bottom {
        padding: 30px 120px;
        font-family: Montserrat, 'Helvetica Neue', sans-serif;
        font-size: 35px;
    }
    #main-bottom .image-bottom img{
        width: 30%;
        padding: 30px 120px;
        margin: 35px 0;
    }
    #main-bottom .text .text-bottom{
        padding: 10px 120px;
        font-family: Montserrat, 'Helvetica Neue', sans-serif;
        font-size:18px ;
    }
    footer{
        width: 100%;
        background-color: #740be4b3;
        display: flex;
        justify-content: space-between;
        height: 90px;
    }
    footer .row-top{
        width: 50%;
        text-align: left;
       padding-top: 10px;
        color: white;
        font-size: 13px;
    }
    footer .row-bottom{
        width: 50%;
        text-align: right;
        padding: 20px 0;
    }
    footer .row-bottom .col a{
        margin: 0 20px;
        color: white;
        font-size: 11px;
    }
   
    
}
